.App {
  text-align: center;
}

.input-box {
  width: 32rem;
  height: 2rem;
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 28rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.cards:hover {
  transform: scale(1.1);
}

.movie-list {
  display: flex;
  flex-direction: row;
    gap: 1rem;
    margin: 15px;
}

.movies-poster {
  min-width: 100%;
  max-height: 40%;
}

.remove-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.remove-cards {
  margin: 20px;
  max-width: 15%;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}